# Application Environment
VITE_ENV=

# React Strict Mode Toggle
VITE_DISABLE_REACT_STRICT_MODE=

# Authentication
VITE_COGNITO_CLIENT_ID=
VITE_GOOGLE_AUTH_API_URL=

# API Base URL
VITE_STAGE_BASE_URL=

# Third-Party Integrations
VITE_WIDGET_ID=

# Mixpanel Analytics
VITE_MIXPANEL_DISABLED=
VITE_MIXPANEL_TOKEN_PROD=
VITE_MIXPANEL_TOKEN_STAGE=
VITE_MIXPANEL_TOKEN_LOCAL=